<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <strong>Cloture Mensuel</strong> 
              </div>
              <div class="card-body">
                <form action="" method="post">
                  <div class="form-group">
                    <label for="mois">Mois</label>
                    <input type="month" id="nf-mois" name="nf-mois" class="form-control" placeholder="Entrer le mois.">
                    <span class="help-block"></span>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
              </div>
            </div>              
          </div>
          <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <strong>Cloture Annuel</strong> 
                </div>
                <div class="card-body">
                  <form action="" method="post">
                    <div class="form-group">
                      <label for="annees">Années</label>
                      <input type="years" id="nf-annees" name="nf-password" class="form-control" placeholder="Entrer l'années." autocomplete="current-password">
                      <span class="help-block"></span>
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                  <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
              </div>              
            </div>
            <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    <strong>Reporter</strong> 
                  </div>
                  <div class="card-body">
                    <form action="" method="post">
                      <div class="form-group">
                        <label for="mois">Mois</label>
                        <input type="month" id="nf-mois" name="nf-mois" class="form-control" placeholder="Entrer le mois.">
                        <span class="help-block"></span>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                  </div>
                </div>              
              </div>
              
        
      </div><!--/.row-->
</div>
